.Navbar > .Container{
  background-color: #5bc5a7;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align:center;
  align-items:center;
  padding: 5px;
  width:100%;
  height: 2rem;
  overflow:auto;
}

.NavbarRight {
  width:20%;
  float:right;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  height:auto;
}

.Navbar a{
  text-decoration: none;
  color: white;
}

.NavbarRight ul, .NavbarList ul {
  list-style-type: none;
  margin: 0;
  margin-left:10px;
  padding: 0;
  overflow: hidden;
}

.NavbarRight li, .NavbarList li{
  list-style:none;
  float:left;
  padding: 0 5px 0 5px;
}

.NavbarRight a, .NavbarList a{
  text-align:center;
}

.Brand {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px 0 5px;
}

.NavbarLeft {
  display: flex;
  flex-direction: row;
}

.SubmitButton {
  background-color: #5bc5a7;
  font-size: 16px;
  border-style: solid;
  border-color:grey;
  color: white;
  border-radius: 4px;
  border-width:1px;
  padding: 5px 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.StockTitle{
  background-color:#f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px, 8px, 5px, 5px;
}

.StockList {
  background-color: #ffffff;
  width: 200px;
  height: 100vh;
  margin-top:0;
  padding-top:5px;
  padding-right:0px;
}

.StockTitle p {
  margin-left:10px;
}
.StockList .row{
  width:100%;
  list-style-type:none;
  display: flex;
  flex-direction: row;
  color: #999999;
  justify-content: start;
  padding: 8px, 8px, 8px, 5px; 
}
.SelectionPage h1{
  text-align: center;
}
.SelectionPageItem{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.AmountText input, .AmountText label {
  display:block;
  margin-bottom: 10px;
}
.InvestmentStrategyRadio {
  margin-bottom: 10px;
  margin-right: 30px;
}

.Dashboard {
  margin-left:40px;
}

.Dashboard h3 {
  text-align: center;
}
